/*PSEUDO*/
@media screen {   
    body:not([data-uid]) .-isauth, body[data-uid] .-noauth {
        display: none;
    }
}

/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        background-color: #fff;
        font-family: Arial;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
        }
    }

    body > header, body > footer {
        display: flex;
        display: webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    blocks {
        width: 100%;
    }

    blocks, block, box, card {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        position: relative;
    }

    block > section, card > section, box > section {
        width: 100%;
    }

    block > picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    box > * > picture {
        display: flex;
        display: -webkit-flex;
    }

    flex, column, row {
        display: flex;
        display: webkit-flex;
    }

    column {
        flex-direction: column;
    }

    :not(:empty) + empty {
        display: none;
    }

    row {
        flex-direction: row;
    }

    form {
        margin: 0;
    }

    form > * {
        width: 100%;
    }

    main {
        display: flex;
        display: webkit-flex;
        width: 100%;
        overflow: visible;
        position: relative;
        min-height: 100%;
        overflow-x: hidden;
    }

    ico {
        align-items: center;
        display: flex;
        display: webkit-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 50px;
    }

    ico:not([data-width]) {
        width: 50px;
    }

    iframe {
        border: 0;
    }

    input {
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    page, pages {
        display: flex;
        position: relative;
    }

    textarea {
        -webkit-appearance: none;
        border: unset;
        resize: none;
    }

    textarea:focus {
        outline: none;
    }

    body > page, body > pages {
        z-index: 123456789;
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
        opacity: 0.5;
    }

    [data-hide]:not([data-active="true"]), [data-page]:not([data-active="true"]):not(.-active), [data-pages]:not([data-active="true"]):not(.-active) {
        display: none;
    }
}

/*UI*/
room > * > * {padding: 0px;position: relative;border: 0;box-sizing: unset;}
room > * > * .media-box { position: absolute; top: 0; width: 100%; height: 100%; }
room > * > * video { object-fit: cover; }

room > * > :nth-child(1) {background: red;}
room > * > :nth-child(2) { background: blue; }
room > * > :nth-child(3) { background: green; }
room > * > :nth-child(4) { background: purple; }
room > * > :nth-child(5) { background: orange; }
room > * > :nth-child(6) { background: yellow; }
room > * > :nth-child(7) { background: red; }
room > * > :nth-child(8) { background: #795548; }
room > * > :nth-child(9) { background: gray; }

@media (orientation: landscape) {
    [data-cams="1"] > * {width: 100% !important;height: 100% !important;}
    
    [data-cams="2"] > * {width: 50% !important;height: 100% !important;}
    
    [data-cams="3"] > * { width: calc(100%/3) !important; height: 100% !important; }
    
    [data-cams="4"] > * { width: 50% !important; height: 50% !important; }

    [data-cams="5"] > * {width: 50% !important;height: 50% !important;}
    [data-cams="5"] > *:nth-child(3) { width: calc(100%/3) !important; height: 50% !important; }
    [data-cams="5"] > *:nth-child(4) { width: calc(100%/3) !important; height: 50% !important; }
    [data-cams="5"] > *:nth-child(5) { width: calc(100%/3) !important; height: 50% !important; }

    [data-cams="6"] > * { width: calc(100%/3) !important; height: 50% !important; }

    [data-cams="7"] > * { width: 25% !important; height: 50% !important; }
    [data-cams="7"] > *:nth-child(5),
    [data-cams="7"] > *:nth-child(6),
    [data-cams="7"] > *:nth-child(7) { width: calc(100%/3) !important; height: 50% !important; }
    
    [data-cams="8"] > * { width: 25% !important; height: 50% !important; }
    
    [data-cams="9"] > * { width: calc(100%/3) !important; height: calc(100%/3) !important; }
}
@media (orientation: portrait) {
    [data-cams="1"] > * {width: 100% !important;height: 100% !important;}
    [data-cams="2"] > * { width: 100% !important; height: 50% !important; }
    [data-cams="3"] > * { width: 100% !important; height: calc(100%/3) !important; }
    [data-cams="4"] > * {width: 50% !important;height: 50% !important;}

    [data-cams="5"] > * {width: 50% !important;height: 35% !important;}
    [data-cams="5"] > *:nth-child(3) {width: 100% !important;height: 30% !important;}

    [data-cams="6"] > * { width: 50% !important; height: calc(100%/3) !important; }

    [data-cams="7"] > * { width: 50% !important; height: 30% !important; }
    [data-cams="7"] > *:nth-child(3),
    [data-cams="7"] > *:nth-child(4),
    [data-cams="7"] > *:nth-child(5) { width: calc(100%/3) !important; height: 40% !important; }

    [data-cams="8"] > * { width: 50% !important; height: 25% !important; }
    [data-cams="9"] > * { width: calc(100%/3) !important; height: calc(100%/3) !important; }
}